[Desktop Entry]
Version=1.0
Name=doged
Comment=Connect to the Bitcoin P2P Network
Comment[de]=Verbinde mit dem Bitcoin peer-to-peer Netzwerk
Comment[fr]=Bitcoin, monnaie virtuelle cryptographique pair à pair
Comment[tr]=Bitcoin, eşten eşe kriptografik sanal para birimi
Exec=doge-qt %u
Terminal=false
Type=Application
Icon=bitcoin-abc128
MimeType=x-scheme-handler/bitcoincash;
Categories=Office;Finance;
StartupWMClass=Bitcoin-qt
