[Unit]
Description=eCash node
After=network.target

[Service]
ExecStart=%h/bitcoin-abc/bin/dogecoind -daemonwait -conf=%h/.dogecash/dogecoin.conf -pid=%h/.dogecash/dogecoind.pid
ExecStopPost=-/bin/bash -c 'mv %h/.dogecash/debug.log %h/.dogecash/debug_$(date +%%Y%%m%%d%%H%%M%%S).log'
Type=forking
PIDFile=%h/.dogecash/dogecoind.pid
Restart=unless-stopped
RestartSec=5
StartLimitInterval=10

[Install]
WantedBy=default.target
